body {
    min-height: 100vh;
    background-image: url("femme-tenant-divers-sacs-provisions-copie-espace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}